{
      "metric_name" : "CPU_UTILIZATION",
      "metric_stat" : "MEAN",
      "upper_threshold" : 0.94999999999999996,
      "lower_threshold" : 0.5,
      "decrease_delta" : 1,
      "increase_delta" : 1,
      "minimum_num_instances" : 2,
      "maximum_num_instances" : 10,
      "wait_period" : 120
}
