[
	{
		"id": 336,
		"docker_repo_tag": "latest",
		"dockerfile_location": "/",
		"code_repo_type": "branch",
		"code_repo_type_value": "master",
		"is_active": false,
		"is_version_tagging": false
	},
	{
		"docker_repo_tag": "release",
		"dockerfile_location": "/",
		"code_repo_type": "branch",
		"code_repo_type_value": "release",
		"is_active": false,
		"is_version_tagging": false
	}
]
